ul {
    list-style-type: none;
    margin: 0;
    padding-right: 5%;
    overflow: hidden;
    position: -webkit-sticky; /* safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #292929;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .hvr-bounce-to-top:before {
    background: #292929 !important;
  }